<ion-view cache-view="false" view-title="Search">
  	<ion-content class="card-background-page home-card">

  		<div class="list">

		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Search by series name" ng-model="search.seriesName">
		    </label>
		  </div>

		</div>

	  	<div class="list card" ng-repeat="show in filtered = shows  | filter: search | limitTo: 12">
		  <div class="item item-body item-img">
	    	<img src="{{show.poster}}"/>
			<div class="item item-body item-detail">
				<p class="title">
	            	<a class="title" ui-sref="app.series({seriesId: show._id})" title="{{show.seriesName}}"><b>{{show.seriesName}}</b></a>
	          	</p>
	          	<p class="info"><b>{{show.network}}</b> <span class="rating"><i class="icon-left ion-ios-star star" aria-hidden="true"></i>  {{show.rating}}</span></p>
	          	<p class="info"><span class="date"><i class="icon-left ion-ios-calendar calender" aria-hidden="true"></i>  {{show.firstAired | date: 'yyyy'}}</span></p>
	          	<div class="cap">
           	 		<span ng-repeat="genre in show.genre"><b>{{genre}}</b></span>
	          	</div>
			</div>
		  </div>
		</div>
  	</ion-content>
</ion-view>
